.width100 {
    width: 100%;
}

.format {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

mat-card {
    gap: 16px;
}

.radioGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}