<div class="logInContainer">
    <h1>Login</h1>
    <form class="logInArea" (ngSubmit)="login($event)">
        <mat-form-field appearance="fill">
            <mat-label>Email eingeben</mat-label>
            <input type="email" [(ngModel)]="email" name="email" matInput placeholder="Email eingeben ..." required email #emailInput="ngModel" />
            <mat-error *ngIf="emailInput.errors?.['required']">E-Mail ist erforderlich.</mat-error>
            <mat-error *ngIf="emailInput.errors?.['email']">Bitte geben Sie eine gültige E-Mail-Adresse ein.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="password" [(ngModel)]="password" name="password" matInput placeholder="Passwort eingeben ..." required [pattern]="passwordPattern" />
        </mat-form-field>
        <div class="button-container">
            <button class="logInButton" type="submit" mat-flat-button color="primary">
          Log in
        </button>
            <button class="logInButton marginLeft" mat-flat-button color="warn" (click)="logout()">
          Logout
        </button>
            <button type="button" class="logInButton marginLeft" mat-flat-button color="accent" (click)="register()">
          Registrieren
        </button>
        </div>
    </form>
</div>