<mat-card *ngIf="user$ | async as user" class="example-card" appearance="outlined">
    <ng-container *ngFor="let notiz of getFilteredNotizen(user); let i = index">

        <mat-card class="notiz-card" [ngStyle]="{'border': '1px solid rgb(105,240,174)'}">
            <mat-card-header>
                <div class="example-header-image"></div>
                <mat-card-title>Notiz {{ i + 1 }}</mat-card-title>
                <mat-card-subtitle>{{ notiz.date | date:'dd.MM.yyyy HH:mm' }} Uhr</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="fontSize">
                <p>Notiz: {{ notiz.text }}</p>
                <p>Bemerkung: {{ notiz.bemerkung }}</p>
                <p>Kategorie: {{ notiz.kategorie }}</p>
                <p>Priorität: {{ notiz.prio }}</p>
            </mat-card-content>

            <mat-card-actions class="buttonSlide">
                <button class="noticeDeleteButton" (click)="deleteNotiz(notiz)" mat-button>Löschen</button>
                <p>
                    <mat-slide-toggle labelPosition="before" [checked]="notiz.erledigt === true" (change)="changeNotiz(notiz, $event.checked ? true : false)">
                        Erledigt
                    </mat-slide-toggle>


                </p>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="getFilteredNotizen(user).length === 0">
        <mat-card-content class="fontSize color">
            <p>Noch keine Notiz vorhanden</p>
        </mat-card-content>
    </ng-container>
</mat-card>

<button matTooltip="Zurück zum User" matTooltipPosition="above" [routerLink]="['/user-detail', userId]" class="backToButton" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
<button matTooltip="Archivierte Notizen" matTooltipPosition="above" [routerLink]="['/archiv', userId]" class="archivButton" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>autorenew</mat-icon>
  </button>