@media (max-width: 431px) {
    .fontSize {
        >p {
            font-size: 10px !important;
        }
    }
}

.backToButton {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 64px;
}

.green {
    border: 2px solid rgb(105, 240, 174);
}

.noticeDeleteButton {
    background-color: rgb(106, 240, 174);
    color: rgb(48, 48, 48) !important;
}

.buttonSlide {
    display: flex;
    justify-content: space-between;
}

.archivButton {
    margin: 64px;
    right: 72px;
    bottom: 0;
    position: fixed;
}