@media (max-width: 840px) {
    .sidenav {
        width: auto !important;
    }
}

@media (max-width: 520px) {
    .routerContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.mat-drawer-container {
    height: 100vh;
}

.menu {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logoContainer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.797);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    >h1 {
        color: rgb(105, 240, 174);
    }
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    >li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        >span {
            margin-right: 16px;
        }
        >a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: white;
        }
        &:hover {
            background-color: rgba(13, 13, 13, 0.25);
        }
    }
}

.routerContainer {
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 56px;
}