<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
        <div class="logoContainer">
            <h1>MyCRM</h1>
        </div>
        <ul class="menuList">
            <li *ngIf="isLoggedIn">
                <a [routerLink]="['/dashboard']">
                    <span class="material-icons">dashboard</span> Dashboard
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a [routerLink]="['/user']">
                    <span class="material-icons">person</span> Kontakt
                </a>
            </li>
        </ul>
        <a class="logOutButtonLink" (click)="logOutC()" *ngIf="isLoggedIn">
            <span class="material-icons">power_settings_new</span> Log out
        </a>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-toolbar-row>
                <span (click)="drawer.toggle()" class="material-icons menu">
                  menu
                  </span>
                <span>MyCRM</span>
                <div class="loggedUserMail">
                    <span *ngIf="isLoggedIn" class="material-icons">accessibility</span>{{user?.email}}
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="routerContainer">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>