<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
        <div class="logoContainer">Logo Placeholder</div>
        <ul class="menuList">
            <li>
                <a [routerLink]="['/dashboard']">
                    <span class="material-icons">dashboard</span> Dashboard
                </a>
            </li>
            <li>
                <a [routerLink]="['/user']">
                    <span class="material-icons">person</span> User
                </a>
            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-toolbar-row>
                <span (click)="drawer.toggle()" class="material-icons menu">
                  menu
                  </span>
                <span>MyCRM</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="routerContainer">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>