@media (max-width: 431px) {
    .fontSize {
        >p {
            font-size: 10px !important;
        }
    }
}

.noticeDeleteButton {
    background-color: rgb(106, 240, 174);
    color: rgb(48, 48, 48) !important;
}

.backToButton {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 64px;
}

.backToNotice {
    position: fixed;
    margin: 64px;
    bottom: 0;
    right: 70px;
}

.color {
    color: rgb(48, 48, 48);
    background-color: rgb(105, 240, 174);
}