<mat-card *ngIf="user$ | async as user" class="archiv-card" appearance="outlined">
    <ng-container *ngFor="let notiz of getArchivedNotizen(user); let i = index">
        <mat-card class="notiz-card" [ngStyle]="{'border': '1px solid rgb(105,240,174)'}">
            <mat-card-header>
                <div class="example-header-image"></div>
                <mat-card-title>Archivierte Notiz {{ i + 1 }}</mat-card-title>
                <mat-card-subtitle>{{ notiz.date | date:'dd.MM.yyyy HH:mm' }} Uhr</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="fontSize">
                <p>Notiz: {{ notiz.text }}</p>
                <p>Bemerkung: {{ notiz.bemerkung }}</p>
                <p>Kategorie: {{ notiz.kategorie }}</p>
                <p>Priorität: {{ notiz.prio }}</p>
            </mat-card-content>

            <mat-card-actions>
                <button class="noticeDeleteButton" (click)="deleteNotiz(notiz)" mat-button>Löschen</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="getArchivedNotizen(user).length === 0">
        <mat-card-content class="fontSize color">
            <p>Noch keine Notiz im Archiv vorhanden</p>
        </mat-card-content>
    </ng-container>
</mat-card>
<button matTooltip="Zurück zum User" matTooltipPosition="above" [routerLink]="['/user-detail', userId]" class="backToButton" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
<button matTooltip="Notizen" matTooltipPosition="above" [routerLink]="['/notizen-anzeige', userId]" class="backToNotice" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>dashboard</mat-icon>
  </button>