<mat-card appearance="outlined">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Ort</th>
            </tr>
            <tr>
                <td>fsdfsdf</td>
                <td>fsdfsdf</td>
                <td>fsdfsdf</td>
                <td>fsdfsdf</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)="openDialog()" class="addButton" mat-fab aria-label="Example icon button with a delete icon" matTooltip="User hinzufügen">
    <mat-icon>add</mat-icon>
  </button>