@media (max-width: 720px) {
    .userTable {
        >tr {
            >th {
                font-size: 10px;
            }
            >td {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 560px) {
    .userTable {
        >tr {
            >th {
                font-size: 6px !important;
            }
            >td {
                font-size: 6px !important;
            }
        }
    }
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

.addButton {
    position: fixed;
    right: 56px;
    bottom: 56px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid white;
        cursor: pointer;
        &:hover {
            background-color: rgb(105, 240, 174);
            color: rgb(48, 48, 48);
        }
        &:last-child {
            border-bottom: 0;
        }
        &:first-child {
            cursor: unset;
            background-color: unset;
        }
        td {
            height: 48px;
            &:first-child {
                padding-left: 16px;
            }
        }
        th {
            &:first-child {
                padding-left: 16px;
            }
        }
    }
    th {
        color: rgb(105, 240, 174);
        text-align: start;
    }
}