<mat-card appearance="outlined">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Ort</th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user-detail', user.id]">
                <td>{{user.vorname}}</td>
                <td>{{user.nachname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.ort}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)="openDialog()" class="addButton" mat-fab aria-label="Example icon button with a delete icon" matTooltip="User hinzufügen" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>